<html ng-app="myApp">
<head>
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body >
    <h1>Angular Socket.io IM Demo App</h1>
    <div ng-controller="AppCtrl">
        <div class="col">
            <h3>Messages</h3>
            <div class="overflowable">
                <p ng-repeat="message in messages" ng-class="{alert: message.user == &quot;chatroom&quot;}">{{message.user}}: {{message.text}}</p>
            </div>
        </div>
        <div class="col">
            <h3>Users</h3>
            <div class="overflowable">
                <p ng-repeat="user in users">{{user}}</p>
            </div>
        </div>
        <div class="clr">
            <form ng-submit="sendMessage()">Message:
                <input size="60" ng-model="message">
                <input type="submit" value="Send">
            </form>
        </div>
    </div>
    <script src="javascripts/lib/angular/angular.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/filters.js"></script>
    <script src="javascripts/directives.js"></script>
    <script>
        app.controller('AppCtrl',AppCtrl);
    </script>
</body>
</html>