<html>
<head>
    <title><%=title%></title>
</head>
<body>
   <h1>Welcome Kenz_Chat Application.</h1>
   <h1>Your journey of happiness begins here.</h1>
   <a href="/login">Login to start</a>
</body>
</html>